<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CRUD nodejs</title>
    <link rel="stylesheet" type="text/css" href="edit.css">
</head>

<body>

    <h2>Registrar</h2>

    <form action="/show" method="post">
        <input type="text" placeholder="Nome" name="name">
        <input type="text" placeholder="Sobrenome" name="surname">
        <button type="submit">Submit</button>
    </form>
</body>

</html>